---
import Section from "./Section.astro";
---

<Section
   title="Model Y"
   subtitle="Concertar una prueba de conducción"
   color="black"
>
   <div slot="footer" class="flex gap-x-6 mx-auto">
      <a
         class="border-[3px] border-[#3e4043] text-white bg-[#3e4043] text-sm px-14 py-2 rounded"
         href="#">Explorar inventario</a
      >
      <a
         class="border-[3px] border-[#ebeae8] text-[#393c41] bg-[#ebeae8] text-sm px-14 py-2 rounded"
         href="#">Pedido personalizado</a
      >
   </div>
   <img
      slot="background"
      class="object-center object-cover h-full w-full"
      src="model-y.avif"
      alt="Model-Y"
   />
</Section>
