<section
   class="landing-section bg-black h-screen w-screen overflow-hidden text-center relative"
   data-header-color="black"
>
   <div class="relative pt-[6rem] z-30 h-full flex flex-col">
      <header>
         <h2 class="text-black text-[39px] font-medium">Model Y</h2>
         <p class="text-black text-sm underline">
            Concertar una prueba de conducción
         </p>
      </header>

      <footer class="flex flex-col flex-grow justify-end pb-16">
         <div class="flex gap-x-6 mx-auto">
            <a
               class="border-[3px] border-[#3e4043] text-white bg-[#3e4043] text-sm px-14 py-2 rounded"
               href="#">Explorar inventario</a
            >
            <a
               class="border-[3px] border-[#ebeae8] text-[#393c41] bg-[#ebeae8] text-sm px-14 py-2 rounded"
               href="#">Pedido personalizado</a
            >
         </div>
      </footer>
   </div>

   <div class="absolute top-0 bottom-0 z-10">
      <img
         class="object-center object-cover h-full w-full"
         src="model-y.avif"
         alt="Model-Y"
      />
   </div>
</section>
