---
import Section from "./Section.astro";
---

<Section
   title="Disfrute de Tesla"
   subtitle="Programe una prueba de conducción hoy mismo"
   color="white"
>
   <div slot="footer">
      <a
         class="text-white text-sm border-[3px] border-white px-12 py-2 rounded hover:text-black hover:bg-white"
         href="#">Prueba de conducción</a
      >
   </div>
   <video
      slot="background"
      class="object-center object-cover h-full w-full"
      autoplay
      muted
      loop
      src="teslavideoInicio.webm"
   >
   </video>
</Section>
